@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&family=Sigmar&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui;
    background: #D6E8DB;
    color: white;
    text-align: center;
}

a {
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .25em;
    transition: color 200ms linear;
}

a:hover,
a:active {
    color: #723E43;
    transition: color 200ms linear;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
}

.responsive-nav {
    display: flex;
    position: sticky;
    width: 100%;
    height: 85px;
    padding: auto 15%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #C9A7EB;
    z-index: 2;
}

.navbar-logo {
    height: 98%;
    width: 98%;
    max-height: 85px;
    max-width: 85px;
    margin-left: 50%;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-around;
    position: relative;
    margin-top: 50px;
    padding: 0;
}

.navbar-links a {
    margin: auto 5vw;
}

.burger {
    display: none;
    margin-right: 4%;
}

.burger div {
    width: 42px;
    height: 5px;
    border-radius: 3px;
    background-color: white;
    margin: 8px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 991px) {
    body {
        overflow-x: hidden;
    }

    .detail-bio,
    .detail-edu {
        width: 90%;
    }

    .navbar-links {
        position: fixed;
        margin: 0;
        right: 0;
        top: 85px;
        min-width: 35vw;
        min-height: 89vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #719690;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .burger {
        display: block;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .navbar-links li {
        opacity: 0%;
    }

    .hero1 h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .hero1 td {
        font-size: 14px;
    }

    .hero-container {
        flex-wrap: wrap;
    }

    .hero-container img {
        margin: 0 auto;
    }
}


.toggle .line3 {
    transform: rotate(45deg) translate(-6px, -11.75px);

}

@keyframes navLinkFadeIn {
    from {
        opacity: 0%;
        transform: translateX(50px);
    }

    to {
        opacity: 100%;
        transform: translateX(0px);
    }
}

@keyframes navLinkFadeOut {
    from {
        opacity: 100%;
        transform: translateX(0px);
    }

    to {
        opacity: 0%;
        transform: translateX(50px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-6px, 11.75px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-6px, -11.75px);

}

.hero-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.hero {
    background: url("../asset/image/backg.jpg");
}

.hero1 {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #111;
}

.hero td {
    padding: 5px 20px;
    font-size: 20px;
}

.hero-container img {
    width: 50%;
}

.hero1 h1 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.bio {
    background-color: #111;
}

.bio h3,
.edu h3 {
    text-align: left;
    margin: 20px auto;
    font-size: 30px;
}

.detail-bio,
.detail-edu {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    padding: 50px 0;
}

.detail-bio p {
    margin: 10px;
    font-size: 20px;
}

.education {
    width: min(500px, 95vw);
    margin: 0 auto;
}

.education__heading {
    padding-inline-start: 4rem;
}

.education__heading h4 {
    font-size: 3rem;
    margin-block: 0.5rem;
    margin-bottom: 20px;
    color: #111;
}

.education__content {
    position: relative;
    padding: 1rem 1rem 1rem 4rem;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.education__content h5 {
    color: rgba(0, 0, 0, 0.9);
    font-size: 1rem;
    margin-block: 0;
}

.education__content p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.9rem;
    margin-block-start: 0.5rem;
    margin-block-end: 0;
}

.education__content .year {
    position: absolute;
    content: var(--year);
    width: 3rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    color: white;
    border-radius: 50%;
    background-color: #b3b3b3;
    box-shadow: inset 0 0 0 1px white;
    border: 1px solid #b3b3b3;
    left: 1rem;
    top: 0.94rem;
}

.education__content:hover {
    background-color: rgba(230, 230, 230, 0.48);
    border-radius: 0.25rem;
}

.education__content:not(:last-child):before {
    position: absolute;
    content: "";
    width: 4px;
    background-color: #dedede;
    left: calc(2rem - 2px);
    top: 2.74rem;
    bottom: -0.74rem;
    z-index: -1;
}

/* Footer Section */

footer {
    margin-top: 100px;
    height: 320px;
    background-color: #2C3333;
}

.footer-container {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.footer-container h1,
p {
    color: #fff;
}

.footer-container h1 {
    font-size: 20px;
    font-weight: 500;

}

.footer-container p {
    padding-top: 20px;
    font-size: 13px;

}